<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
</head>
<body>
    <div class="carousel-container">
        <h5>Related Products</h5>
        <div id="carouselControls" class="carousel" data-bs-ride="carousel" #carouselDiv>
            <div class="carousel-inner" #inner>
                <div class="carousel-item active" *ngFor="let product of products.carouselData; let i=index;" #innerItem>
                    <div class="card">
                        <div class="img-wrapper">
                            <img [src]="product.productImageUrl" [alt]="product.url">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.typeName}}</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev"
                (click)="onPrevClick()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next"
                (click)="onNextClick()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>